.popup__escape-button {
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .0001);
  background-image: url("../../../images/close.png");
  background-position: center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: -35px;
  right: -35px;
}

@media screen and (max-width: 730px) {
  .popup__escape-button{
    background-image: url("../../../images/close-black.svg");
    top: 15px;
    right: 15px;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
  }
}
