.header__nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Inter', Arial, sans-serif;
  color: black;
  font-size: 12px;
  font-weight: 900;
  width: calc(100% - 136px);
  margin: auto;
}

@media screen and (max-width: 870px) {
  .header__nav-wrapper {
    width: calc(100% - 70px);
  }
}

@media screen and (max-width: 460px) {
  .header__nav-wrapper {
    transform: translateX(-150%);
    height: 0px;
  }
}
