.place__info-title {
  margin: 64px 0 0 72px;

  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.30px;
}

@media screen and (max-width: 968px) {
  .place__info-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 870px) {
  .place__info-title {
    font-size: 24px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .place__info-title {
    margin: 64px auto 0 auto;
    text-align: center;
  }
}

 /* @media screen and (max-width: 984px) {
  .place__info-title {

  }
}

 @media screen and (max-width: 568px) {
  .place__info-title {

  }
} */
