.page {
  max-width: 1280px;
  align-self: center;
  color: black;
  margin: 0 auto;
  padding-top: 51px;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 870px) {
  .page {
    padding-top: 24px;
  }
}
