.popup__complain {
  background-color: #FFF;
  border-radius: 10px;

  position: relative;

  max-width: 650px;
  height: 530px;

  margin: 195px auto 0 auto;

}

@media screen and (max-width: 660px) {
  .popup__complain {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 60px;
  }
}
