.quotes__caption {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -1px;
  color: #FECDA7;
  text-transform: uppercase;

  margin: 0 0 0 68px;
  padding: 0;
  padding-top: 138px;
}

@media screen and (max-width: 440px) {
  .quotes__caption {
    padding-top: 32px;
    margin: 0 0 0 32px;
  }
}

