.lead {
  font-family: 'Inter', Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "caption caption image"
  "title title image"
  "title title image";
  width: calc(100% - 96px);
  /* margin: 0 auto; */
  max-width: 1052px;
  padding-left: 70px;
  padding-top: 85px;
}

@media screen and (max-width: 870px) {
  .lead {
    padding-left: 35px;
    padding-top: 42px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    display: block;
    width: calc(100% - 70px);
    position: relative;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }

  .lead::before {
    content: '';
    background-color: #2A2C2F;
    opacity: .3;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 4%;
  }
}

@media screen and (max-width: 568px) {
  .lead {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .lead::before {
    bottom: 7.5%;
  }
}
