.place__info-description {
  font-family: 'Inter';

  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.035em;
  line-height: 166.52%;

  margin: 30px 0 0 70px;
  padding: 0;

  width: 360px;
}


