.table {
  margin: 107px 68px 0 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 440px) {
  .table {
    margin: 50px 32px 0 32px;
  }
}
