.popup__title {
  margin: 0;
  padding: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;

  letter-spacing: 0.56px;

  text-align: center;

  position: absolute;
  top: 246.5px;
  left: 25%;

  width: 50%;
}

@media screen and (max-width: 725px) {
  .popup__title{
    font-size: 24px;
  }
}

@media screen and (max-width: 367px) {
  .popup__title{
    font-size: 20px;
  }
}
